/* Add a black background color to the top navigation */
.topnav {
  background-color: #4d4d4d;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px;
  font-family: Arial Narrow, sans-serif;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #404040;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3d35b0;
  color: white;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid #4d4d4d;
  padding: 10px;
}
