/* Add a black background color to the top navigation */
.topnav {
  background-color: #292E49;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 35px;
  font-family: Arial Narrow, sans-serif;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1f2338;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #292E49;
  color: white;
}

.parent {
  position: relative;
}

.centerwithtext {
  margin: auto;
  width: 80%;
  padding: 0px;
  text-align: center;
  font-family: 'SourceSansPro-Regular', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 31px;
  color: #313442;
}

.center {
  width: 400px;
  background-color: #ffffff;
  border: 0px solid #c8c8c8;
  opacity: 0.92;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;

}

img.topbannerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

img.worldmap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  padding: 60px 15%;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 5px;
}
